html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav{
    text-align: center;
    padding:8px;
    height:40px;
    background-color: #eeeeee;
  }
a{
    background-color: #d1d1d1;
    padding: 10px 30px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    border: 2px solid #212121;

}
  .tag2{
    background-color:whitesmoke;
    padding: 10px 30px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    border: 2px solid #212121;
  
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  